/* Clases */

.fuenteH2 {
    font-family: 'Crete Round', serif;
    font-size: 2.3rem;
}

.sombra-titulo {
    text-shadow: rgb(68, 64, 60) 1px 1px, rgb(235, 202, 81) 2px 2px;
}

.logo {
    width: 9vw;
}

.colorFondo {
    background-color: #e6c577;
}

.border-5 {
    border-color: rgb(81, 76, 76)!important;
}

.anchoCard {
    width: 22rem;
}

.centrarIcono {
    display: block;
    margin: auto;
    padding: 10px;
}

.estiloEnlaces {
    text-decoration: none;
    color: $color-negro;
    &:hover {
        color: $color-negro;
        background-color: white;
    }
}

.bordeLi {
    border-right: 1px solid $color-negro; 
}

.fondoParrafo {
    background-color: #efe4ae;
}

.alturaFoto {
    height: 550px;
}

/* Botones negros Prev y Next de Carrousel */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}
