/* Clases */

.fuenteH2 {
    font-family: 'Crete Round', serif;
    font-size: 2.3rem;
}

.logo {
    width: 9vw;
}

.colorFondo {
    background-color: #e6c577;
}

.btnGradiente {
    background-image: linear-gradient( 0.2deg, rgb(239,239,210) 0%, rgb(193,198,179) 100%);
    .btnLetra {
        font-family: sans-serif;
        font-weight: 700;
        color: rgb(29, 27, 27);
    }
}

.border-5 {
    border-color: rgb(232,160,93)!important;
}

.text-center::after {
    content:"";
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 1px;
    background: #000;
}

.subrayado {
    position: relative;
}

.anchoCard {
    width: 25rem;
}

.navbar-nav {
    column-gap: 20px;
    .nav-link {
        position: relative;
        display: inline-block;
        &::after {
            content: "";
            height: 3px;
            width: 100%;
            background: rgb(21, 21, 20);
            position: absolute;
            left: 0;
            bottom: -3px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;
        }    
        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}












