/* Estilos generales */
h1, 
h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Lora', serif;
}

form {
    background-color: rgb(224, 216, 176);
}

main {
    background-color: rgba(251, 224, 149, 0.591);
    padding-bottom: 60px;
}

/* Animacion icono redes */
i {
    transition: transform 0.6s;
    color:rgb(80, 82, 84);
}